header{
    padding: 13px;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    background-image: url(greenery.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
#name h1{
    color: rgb(177, 189, 131);
    background-color: rgba(0,0,0,0.5);
    font-weight: 300px;
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #0A100C;
    margin: 20px;
    text-align: center;
}
#sunset img{
    width: 500px;
    border-radius: 15px;
}
#links{
    display: flex;
    justify-content: flex-end;
}
#links a{
    margin: 0 10px;
}
h2{
    font-weight: 200;
}
footer{
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
}
#brasil img{
    width: 600px;
    border-radius: 25px; 
}
span{
    text-indent: 35px;
}
#project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
#project-container img{
    padding: 5px;

}
@media (max-width:960px) {
    h1 {
        font-size: 25px;
    }
    body{
        text-align: center;
    }
    #sunset img{
        width: 400px;
    }


}